.filter{
  display: flex;
  width: 504px;
  height: 50px;
  margin: 50px 0 20px 20px;
  position: absolute;
  top:100px;
  left: 345px;

}
.button{
  width: 168px;
  height: 50px;
  background: #FFFFFF;
  border: solid 1px #DFE5EC;
}
