.filter{
  width: 504px;
  height: 50px;


}
.button{
  width: 168px;
  height: 50px;
  background: #FFFFFF;
  border: solid 1px #DFE5EC;
  border-radius: 5px;

}

.button_one{

  border-radius: 5px 0 0 5px;
}
.button_two{
  border-radius: 0;
}
.button_three{
  border-radius:0 5px 5px 0;
}