.transfers{
  width: 232px;
  height: 254px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  margin: 50px 0 0 103px ;
  position: relative;
  top:-50px;
  color: #4A4A4A;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  display: flex;
  justify-content: start;
  flex-direction: column;


}


p{
  align-items: start;
  padding: 20px;
  margin:0;

}
.checkBox{
-webkit-appearance: none;
//  position: absolute;

  //left: -6px;
}
.checkBoxSpan{
  position: absolute;
  left: 18px;
  background: url("./checkBox/FormNoActiv.svg")  no-repeat;
  width: 20px;
  height: 20px;

}
.checkBox:checked+.checkBoxSpan{
  background: url("./checkBox/Union.svg") no-repeat;
}
.check{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 45px;
  width: 228px;
  height: 40px;
  position: relative;

}
.check:hover{
    background: #F1FCFF;
    cursor: pointer;
  width: 232px;

}