.wrapper{
  margin: 0;
  background: #F3F7FA;
  width: 960px;
  height: 1350px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  left:225px;
  top: -10px

}